<div class="menu-div">
	<ul class="menu-ul">
		<li>
			<a href="javascript:void(0)" data-ng-click="toggleMenuLi('accountsMenu')" >
				<span translate="menu.accounts.head" style="vertical-align: middle;"></span>
			</a>
		</li>
	</ul>
	<ul class="menu-li" id="accountsMenu">
		<li>
			<a data-ui-sref-active="active" data-ui-sref="accounts.list" translate="menu.accounts.list"></a>
		</li>
		<hr style="margin-left: -10%;" data-ng-if="loginUser.type==1 || loginUser.type==4"/>
		<li data-ng-if="loginUser.type==1 || loginUser.type==4">
			<a data-ui-sref-active="active" data-ui-sref="accounts.form" translate="menu.accounts.form"></a>
		</li>
		<hr style="margin-left: -10%;" data-ng-if="loginUser.type==1"/>
		<li data-ng-if="loginUser.type==1">
			<a data-ui-sref-active="active" data-ui-sref="accounts.sform" translate="menu.accounts.sform"></a>
		</li>
		<hr style="margin-left: -10%;" data-ng-if="loginUser.type<4"/>
		<li data-ng-if="loginUser.type<4">
			<a data-ui-sref-active="active" data-ui-sref="accounts.setform" translate="menu.accounts.setform"></a>
		</li>
<!-- 		<hr style="margin-left: -10%;" data-ng-if="loginUser.type!=6"/> -->
<!-- 		<li data-ng-if="loginUser.type!=6"> -->
<!-- 			<a data-ui-sref-active="active" data-ui-sref="accounts.reform" translate="menu.accounts.reform"></a> -->
<!-- 		</li> -->
		<hr style="margin-left: -10%;" data-ng-if="loginUser.type==1 || loginUser.type==4"/>
		<li data-ng-if="loginUser.type==1 || loginUser.type==4">
			<a data-ui-sref-active="active" data-ui-sref="accounts.feeform" translate="menu.accounts.feeform"></a>
		</li>
	</ul>
</div>
