<div class="menu-div">
	<ul class="menu-ul">
		<li>
			<a href="javascript:void(0)" data-ng-click="toggleMenuLi('agentsMenu')" >
				<span translate="menu.agents.head" style="vertical-align: middle;"></span>
			</a>
		</li>
	</ul>
	<ul class="menu-li" id="agentsMenu">
		<li>
			<a data-ui-sref-active="active" data-ui-sref="agents.list" translate="menu.agents.list"></a>
		</li>
		<hr style="margin-left: -10%;"/>
		<li>
			<a data-ui-sref-active="active" data-ui-sref="agents.create" translate="menu.agents.create"></a>
		</li>
	</ul>
</div>

