<div class="menu-div">
	<ul class="menu-ul">
		<li>
			<a href="javascript:void(0)" data-ng-click="toggleMenuLi('businessesMenu')" >
				<span translate="menu.businesses.head" style="vertical-align: middle;"></span>
			</a>
		</li>
	</ul>
	<ul class="menu-li" id="businessesMenu">
		<li>
			<a data-ui-sref-active="active" data-ui-sref="businesses.list" translate="menu.businesses.list"></a>
		</li>
		<hr style="margin-left: -10%;"/>
		<li>
			<a data-ui-sref-active="active" data-ui-sref="businesses.create" translate="menu.businesses.create"></a>
		</li>
	</ul>
</div>