<div class="menu-div">
	<ul class="menu-ul">
		<li>
			<a href="javascript:void(0)" data-ng-click="toggleMenuLi('serversMenu')" >
				<span translate="menu.servers.head" style="vertical-align: middle;"></span>
			</a>
		</li>
	</ul>
	<ul class="menu-li" id="serversMenu">
		<li>
			<a data-ui-sref-active="active" data-ui-sref="servers.list" translate="menu.servers.list"></a>
		</li>
		<hr style="margin-left: -10%;"/>
		<li>
			<a data-ui-sref-active="active" data-ui-sref="servers.arrange" translate="menu.servers.arrange"></a>
		</li>
	</ul>
</div>