@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500535893196'); /* IE9*/
  src: url('iconfont.eot?t=1500535893196#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500535893196') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500535893196') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500535893196#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bitianxiang:before {
	content: "\e642";
}

.icon-bitianxiang {
	font-family: "iconfont" !important;
	font-size: 12px;
	font-style: normal;
	color: #ff3138;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shuxian:before {
	content: "\e501";
}

.icon-shuxian {
	font-family: "iconfont" !important;
	font-size: 26px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 10px;
}

.icon-jiahao:before {
	content: "\e62a";
	color: white;
	font-size: 14px;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

.icon-jiahao1:before {
	content: "\e62a";
	color: black;
	font-size: 10px;
	float: left;
/* 	margin-right: 10px; */
	margin-top: 3px;
}

.icon-jianhao:before {
	content: "\e620";
	color: white;
	font-size: 14px;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

.icon-jianhao1:before {
	content: "\e620";
	color: black;
	font-size: 10px;
	float: left;
/* 	margin-right: 10px; */
	margin-top: 3px;
}

.icon-cushuxian:before {
	content: "\e61b";
	color: rgb(61,159,229);
	font-size: 22px;
}