<div class="content-div">
	<div class="table-div">
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.groups.title"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>
		<table >
			<thead>
				<tr>
					<th width="20%" style="border-right: none;"><span translate="content.groups.form"></span></th>
					<th style="border-left: none;"></th>
				</tr>
			</thead>
		</table>
		<!-- 新增集团表单 -->
		<form name="groupForm" data-ng-submit="createOrUpdateGroup(group)">
			<div data-ng-if="loginUser.type==1">
				<label><span translate="content.agents.attach_agent"></span></label> 
				<select data-ng-if="!(group.id)" class="text-class" 
					data-ng-model="group.agent.id" id="agentsOptions2" data-ng-change="getSegments(group.agent.id)" required="required">
				</select>					
				<input type="text" class="disabled-class" data-ng-model="group.agent.name" required="required"
					data-ng-if="group.id" readonly="readonly" >
				<input type="hidden" data-ng-model="group.agent.id" >
				<span ><font color="red">*</font></span>
			</div>
			<div data-ng-if="!(group.id) " data-ng-if="loginUser.type==1">
				<label><span translate="content.groups.attach_agentSegment"></span></label> 
				<select class="text-class" id="selectSegmentOptions" data-ng-model="group.segment.agentSegment.id"
					data-ng-options="segment.id as segment.fullValue for segment in segments" required="required">
					<option value="" translate="content.operations.selection"></option>
				</select>
				<span ><font color="red">*</font></span>
			</div>
			<div>
				<label><span translate="content.groups.name"></span></label>
				<input type="text" class="text-class" data-ng-model="group.name" required="required" maxlength="16"
					pattern="^[\u4e00-\u9fa5a-zA-Z0-9]+$" name="name" title="是不超过16位的数字、字母、汉字的组合!"/>
				<span style="color: #ff3138" data-ng-show="groupForm.name.$invalid">
					<span data-ng-show="groupForm.name.$error.required"><font color="red">*</font></span>
					<span data-ng-show="groupForm.name.$error.pattern" data-translate="content.errors.err5"></span>
				</span> 
			</div>
			<div>
				<label><span translate="content.groups.admin.name"></span></label>
				<input type="text" class="text-class" data-ng-model="group.administrator.name" required="required" pattern="^[\u4e00-\u9fa5a-zA-Z0-9]+$"
					maxlength="16" name="adminname" title="是不超过16位的数字、字母、汉字的组合!"/> 
				<span style="color: #ff3138" data-ng-show="groupForm.adminname.$invalid">
					<span data-ng-show="groupForm.adminname.$error.required"><font color="red">*</font></span>
					<span data-ng-show="groupForm.adminname.$error.pattern" data-translate="content.errors.err5"></span>
				</span> 
			</div>
			<div>
				<label><span translate="content.groups.admin.username"></span></label>
				<input type="text" class="text-class" data-ng-model="group.administrator.username" name="username" required="required" 
					data-ng-if="!(group.id)" data-ng-minlength="8" maxlength="16" autocomplete="off" pattern="[\w\d_]*" title="由8-16位的数字、字母、下划线组成!"/> 
				<input type="text" id="administrator_username" class="disabled-class" data-ng-model="group.administrator.username"
					required="required" data-ng-if="group.id" readonly="readonly" name="username">
				<span style="color: #ff3138" data-ng-show="groupForm.username.$invalid">
					<span data-ng-show="groupForm.username.$error.required"><font color="red">*</font></span>
					<span data-ng-show="groupForm.username.$error.minlength" data-translate="content.errors.err6"></span>
					<span data-ng-show="groupForm.username.$error.pattern" data-translate="content.errors.err7"></span>
				</span> 
			</div>
			<div data-ng-if="!(group.id)">
				<label><span translate="content.groups.admin.password"></span></label>
				<input type="password" class="text-class" data-ng-model="group.administrator.password" required="required" name="password"
					data-ng-minlength="8" maxlength="16" autocomplete="off" pattern="[\w\d]*" title="由8-16位的数字、字母组成!"/> 
				<span style="color: #ff3138" data-ng-show="groupForm.password.$invalid">
					<span data-ng-show="groupForm.password.$error.required"><font color="red">*</font></span>
					<span data-ng-show="groupForm.password.$error.minlength" data-translate="content.errors.err6"></span>
					<span data-ng-show="groupForm.password.$error.pattern" data-translate="content.errors.err9"></span>
				</span>
			</div>
			<div data-ng-if="!(group.id)">
				<label><span translate="content.groups.admin.re_password"></span></label>
				<input type="password" class="text-class" data-ng-model="group.administrator.re_password" required="required" 
					name="re_password" autocomplete="off" data-ng-minlength="8" maxlength="16" pattern="[\w\d]*"/>
				<span style="color: #ff3138" data-ng-show="group.administrator.re_password">
					<span data-ng-show="groupForm.re_password.$error.required"><font color="red">*</font></span>
					<span data-ng-show="groupForm.re_password.$error.pattern" data-translate="content.errors.err9"></span>
					<span data-ng-show="group.administrator.password != group.administrator.re_password" translate="content.errors.err4"></span>
				</span>

			</div>
			<div>
				<label><span translate="content.agents.price"></span></label>
				<input type="number" class="text-class" data-ng-model="group.creditUnitPrice" step="0.01" min="0"/>
			</div>
			<div>
				<label><span translate="content.agents.linkman"></span></label>
				<input type="text" class="text-class" maxlength="100" data-ng-model="group.linkman" />
			</div>
			<div>
				<label><span translate="content.agents.phone"></span></label>
				<input type="tel" class="text-class" maxlength="100" data-ng-model="group.phone" />
			</div>
			<div>
				<label><span translate="content.agents.email"></span></label>
				<input type="email" class="text-class" maxlength="100" data-ng-model="group.email" />
			</div>
			<div>
				<label ><span translate="content.groups.scale"></span></label>
				<label>
					<input id="over" type="radio" name="GroupScale"data-ng-model="group.scale" value="0" />0-100
				</label>
				<label>
					<input id="over1" type="radio" name="GroupScale" data-ng-model="group.scale" value="1" />101-500
				</label>
				<label>
					<input id="over2" type="radio" name="GroupScale" data-ng-model="group.scale" value="2" />501-1000 
				</label>
				<label>
					<input id="over3" type="radio" name="GroupScale"data-ng-model="group.scale" value="3" />1001+
				</label>
			</div>				
			<div>
				<label><span translate="content.groups.businesses"></span></label>
				<div data-ng-if="!(group.id) " class="box-group" data-ng-if="business.enabled">
				 	<label data-ng-repeat="business in businesses">
				 	<input name="business" type="checkbox" data-ng-value="business.id" data-ng-checked="business.internal"
				 		data-ng-disabled="business.internal"/>{{business.name}} </label>
				</div>
				
				<div data-ng-if="group.id && test" class="box-group">
					<label data-ng-repeat="business in businesses" data-ng-if="business.enabled">
					<input name="business" type="checkbox" id="business.id" data-ng-checked="checkSel(business)"   
						data-ng-value="business.id" data-ng-disabled="business.internal"/>{{business.name}} </label>
				</div>
					
				<div data-ng-if="group.id && !(test)" class="box-group" data-ng-if="business.enabled">
					<label data-ng-repeat="business in businesses">
					<input name="business" type="checkbox" id="business.id" data-ng-checked="checkSel(business)"
						data-ng-value="business.id" data-ng-disabled="business.internal"/>{{business.name}} </label>
				</div>
			</div>
			<div style="margin-top: 65px;">
				<label></label>
				<button data-ng-if="!(group.id)" type="submit" class="btn-sm btn-blue" data-ng-disabled="groupForm.password.$invalid ||
					group.administrator.password != group.administrator.re_password " translate="content.operations.submit"
					></button>
				<button data-ng-if="group.id" type="submit" class="btn-sm btn-blue" translate="content.operations.submit"></button>
				<button type="reset" class="btn-sm btn-white" data-ng-if="!(group.id)" translate="content.operations.reset"></button>
<!-- 				<button type="button" class="btn-sm btn-white" data-ng-if="group.id" data-ng-click="resetForms()" translate="content.operations.reset"></button> -->
				<a href="javascript:history.go(-1)" class="btn btn-sm btn-white" data-ng-if="group.id" translate="content.operations.return"
					style="width: 66px;margin-left: 100px;"></a>
			</div>
		</form>
	</div>
	
	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title" data-ng-bind="alert_title"></h4>
				</div>
				<div class="modal-body">
					<span data-ng-bind="alert_message"></span>
				</div>
				<div class="modal-footer"></div>
			</div> 
		</div> 
	</div>
</div>
