<div class="search-div">
	<form name="groupForm1" data-ng-submit="searchGroups(keywords)" data-ng-if="loginUser.type==1" >
		<div class="row">
			<div class="col-sm-4" style="width:30%">
				<label ><span translate="content.agents.attach_agent"></span></label>
			  	<select class="text-class" data-ng-model="keywords.agentId" id="agentsOptions3" style="width:60%"> 
				</select>
			</div>
			<div class="col-sm-4" style="width:30%">
				<label><span translate="content.groups.name"></span></label>
				<input type="text" class="text-class" data-ng-model="keywords.groupName" style="width:60%"/>
			</div>
			<div class="col-sm-4" style="width:30%">
				<label><span translate="content.agents.admin.name"></span></label>
				<input type="text" class="text-class" data-ng-model="keywords.adminName" style="width:60%"/>
			</div>
  		</div>
  		<br/>
		<div class="row">
			<div class="col-sm-4" style="width:30%">
				<label><span translate="content.agents.admin.username"></span></label>
				<input type="text" id="adminUsername" class="text-class" data-ng-model="keywords.adminUsername" style="width:60%"/>
			</div>
			<div class="col-sm-4" style="width:60%">
				<button class="btn-sm btn-blue" type="submit" translate="content.operations.search"></button>
				<button class="btn-sm btn-blue" type="button" data-ng-click="searchAllTeams1()" translate="content.operations.showAll"></button>
			</div>
		</div>
	</form>
	<form name="groupForm1" data-ng-submit="searchGroups(keywords)" data-ng-if="loginUser.type!=1">
		<div class="row">
			<div class="col-sm-4" style="width:25%">
				<label><span translate="content.groups.name"></span></label>
				<input type="text" class="text-class" data-ng-model="keywords.groupName" style="width:60%"/>
			</div>
			<div class="col-sm-4" style="width:25%">
				<label><span translate="content.agents.admin.username"></span></label>
				<input type="text" id="adminUsername" class="text-class" data-ng-model="keywords.adminUsername" style="width:60%" />
			</div>
			<div class="col-sm-4" style="width:25%">
				<label><span translate="content.agents.admin.name"></span></label>
				<input type="text" class="text-class" data-ng-model="keywords.adminName" style="width:60%"/>
			</div>
			<div class="col-sm-4" style="width:24%;">
				<button class="btn-sm btn-blue" type="submit" translate="content.operations.search"></button>
				<button class="btn-sm btn-blue" type="button" data-ng-click="searchAllTeams1()" translate="content.operations.showAll"></button>								
			</div>
		</div>
	</form>
</div>

<div class="content-div" >
	<div class="table-div"  >
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.groups.list"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>
		<table id="table1" >
			<thead>
				<tr>
					<td nowrap="nowrap"><span translate="content.no"></span></td>
					<td nowrap="nowrap"><span translate="content.groups.name"></span></td>
					<td nowrap="nowrap"><span translate="content.groups.admin.username"></span></td>
					<td data-ng-if="loginUser.type==1" nowrap="nowrap"><span translate="content.agents.attach_agent"></span></td>
					<td nowrap="nowrap"><span translate="content.accounts.total"></span></td>
					<td nowrap="nowrap"><span translate="content.accounts.unactivated"></span></td>
					<td nowrap="nowrap"><span translate="content.accounts.expired"></span></td>
					<td nowrap="nowrap"><span translate="content.accounts.expiring"></span></td>
					<td nowrap="nowrap"><span translate="content.credits.rest"></span></td>
					<td nowrap="nowrap"><span translate="content.operations.operation"></span></td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="group in groups">
					<td data-ng-bind="$index+1+pageInfo.number*pageInfo.usize">1</td>
					<td >{{group.name}}</td>
					<td >{{group.administrator.username}}</td>
					<td data-ng-if="loginUser.type==1" >{{group.agent.name}}</td>
					<td >{{group.userAmount}}</td>
					<td >{{group.nonactiveUserAmount}}</td>
					<td >{{group.expiredUserAmount}}</td>
					<td >{{group.expiringUserAmount	}}</td>
					<td >{{group.creditRemaint}}</td>
					<td >
					    <a class="btn btn-sm btn-blue" data-ui-sref="groups.details({id:group.id})"
					    	translate="content.operations.detail">
						</a>
						<a class="btn btn-sm btn-blue" data-ui-sref="groups.update({id:group.id})"
							translate="content.operations.modify"></a>
						<a class="btn btn-sm btn-blue" data-toggle="modal" data-target="#deleteModal"
							data-ng-click="deleteModal1(group)" translate="content.operations.delete"></a>
						<a class="btn btn-sm btn-blue" data-ui-sref="groups.business({id:group.id})"
							translate="content.groups.businesses"></a>
<!-- 						<a class="btn btn-sm btn-blue" translate="content.groups.send_accounts"></a> -->
						<a data-toggle="modal" data-target="#petchCredit" data-ng-click="getCredit(group.id)"
							class="btn btn-sm btn-blue" translate="content.credits.push"></a>
						<a class="btn btn-sm btn-blue" data-toggle="modal" data-target="#updatePwd"
							data-ng-click="getPassword(group)" translate="content.operations.resetPassword"></a>
					</td>
				</tr>
				<tr data-ng-if="pageInfo.totalElements<1">
					<td colspan="10" class="empty-td">
   						<span translate="content.table.nodata"></span>
					</td>
				</tr>			
			</tbody>
		</table>
	</div>		
</div>
		
<div align="right" class="pageInfo">
	<form data-ng-submit="searchList1(pageInfo.showPage-1,pageInfo)">
		<span class="span-lt"><span translate="content.operations.results"></span>{{pageInfo.totalElements}}</span>
		<span class="span-lt"><span translate="content.operations.pages"></span>{{pageInfo.totalPages}}</span>
		<span class="span-lt"><span translate="content.operations.size"></span>
			<select data-ng-model="pageInfo.size" data-ng-change="searchList1(0, pageInfo)"
					data-ng-options="x for x in [10,20,50,100]">
			</select>
		</span>
		<span>
			<button type="button" data-ng-click="searchList1(0,pageInfo)" data-ng-if="!(pageInfo.number<0)"
				class="btn-sm btn-white" translate="content.pageInfo.first"></button>
		</span>
		<span>
			<button type="button" data-ng-click="searchList1(pageInfo.number-1,pageInfo)" class="btn-sm btn-blue"
				data-ng-if="(pageInfo.number>0)" translate="content.pageInfo.prev" ></button>
			<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number>0)"
				translate="content.pageInfo.prev" ></button>
		</span>
		<span class="pageInfo-number">
			<a data-ng-click="searchList1(0,pageInfo)" data-ng-if="(pageInfo.number>2)">1</a>
			<a data-ng-click="searchList1(1,pageInfo)" data-ng-if="(pageInfo.number>3)">2</a>
			<a data-ng-if="(pageInfo.number>4)">......</a>
			<a data-ng-click="searchList1(pageInfo.number-2,pageInfo)"
				data-ng-if="(pageInfo.number>1)">{{pageInfo.number-1}}</a>
			<a data-ng-click="searchList1(pageInfo.number-1,pageInfo)"
				data-ng-if="(pageInfo.number>0)">{{pageInfo.number}}</a>
			<a style="color: black;">{{pageInfo.number+1}}</a>
			<a data-ng-click="searchList1(pageInfo.number+1,pageInfo)"
				data-ng-if="(pageInfo.number+1<pageInfo.totalPages)">{{pageInfo.number+2}}</a>
			<a data-ng-click="searchList1(pageInfo.number+2,pageInfo)"
				data-ng-if="(pageInfo.number+2<pageInfo.totalPages)">{{pageInfo.number+3}}</a>
			<a data-ng-if="(pageInfo.number+5<pageInfo.totalPages)">......</a>
			<a data-ng-click="searchList(pageInfo.totalPages-2,pageInfo)"
				data-ng-if="(pageInfo.number+3<pageInfo.totalPages) && (pageInfo.number+4!=pageInfo.totalPages)">
				{{pageInfo.totalPages-1}}</a>
			<a data-ng-click="searchList(pageInfo.totalPages-1,pageInfo)"
				data-ng-if="(pageInfo.number+4<=pageInfo.totalPages)">{{pageInfo.totalPages}}</a>
		</span>
		<span>
			<button type="button" data-ng-click="searchList1(pageInfo.number+1,pageInfo)" class="btn-sm btn-blue"
				data-ng-if="(pageInfo.number+1<pageInfo.totalPages)" translate="content.pageInfo.next"></button>
			<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number+1<pageInfo.totalPages)"
				translate="content.pageInfo.next"></button>
		</span>
		<span>
			<button type="button" data-ng-click="searchList1(pageInfo.totalPages-1,pageInfo)" data-ng-if="!(pageInfo.number<0)"
				class="btn-sm btn-white" translate="content.pageInfo.last"></button>
		</span>
		<span>
			<input type="number" step="1" data-ng-model="pageInfo.showPage" max="{{pageInfo.totalPages}}" required="required"
					min="1" data-ng-if="(pageInfo.totalPages>0)" >
			<input type="number" step="1" data-ng-model="pageInfo.showPage" max="1" min="1" readonly="readonly"
					data-ng-if="!(pageInfo.totalPages>0)" >
			<input type="submit" class="btn-sm btn-blue btn-go" value="GO">
		</span>
	</form>
</div>

		<!-- 修改密码模态框 -->
			<div class="modal fade" id="updatePwd" tabindex="-1">  
			    <div class="modal-dialog">  
			        <div class="modal-content">  
			            <div class="modal-header">    
			                <button type="button" class="close" data-dismiss="modal" data-ng-click="closePwd()">  
			                    ×  
			                </button>   
			                <h4 class="modal-title" id="myModalLabel" translate="content.agents.admin.modify"></h4>  
			            </div>
			            <form name="updatePwdForm" data-ng-submit="updatePwd1(group)">  
				            <div class="modal-body">
				             <div>
						        <label translate="content.agents.admin.old_password"></label>
								<input type="password" data-ng-model="group.administrator.oldPassword" name="oldPassword" autocomplete="off" pattern="[\w\d@_]*"
		            				data-ng-blur="updatePwdForm.oldPassword.error=true" data-ng-focus="updatePwdForm.oldPassword.error=false"
		            				maxlength="50" data-ng-minlength="8" required class="text-class">
            				</div>
							<div class="error-msg" data-ng-show="updatePwdForm.oldPassword.error">
								<span data-ng-show="updatePwdForm.oldPassword.$invalid" translate="content.errors.err2"></span>
						    </div>
						    <div>
						        <label translate="content.agents.admin.new_password"></label>
				            
								<input type="password" data-ng-model="group.administrator.newPassword" name="newPassword" autocomplete="off" pattern="[\w\d@_]*"
	            					maxlength="50" data-ng-minlength="8" required class="text-class">
		            			<div class="error-msg" data-ng-show="updatePwdForm.newPassword.error">
									<span data-ng-show="updatePwdForm.newPassword.$invalid" translate="content.errors.err3"></span>
							    </div>
						    </div>
						    <div>
						        <label translate="content.agents.admin.re_password"></label>
								<input type="password" data-ng-model="group.administrator.rePassword" name="rePassword" autocomplete="off" maxlength="50"
		            				data-ng-blur="updatePwdForm.rePassword.error=true" data-ng-focus="updatePwdForm.rePassword.error=false" class="text-class"
		            				data-ng-minlength="8" required />
								<div class="error-msg" data-ng-show="updatePwdForm.rePassword.error && updatePwdForm.oldPassword.$valid
									&& updatePwdForm.newPassword.$valid && updatePwdForm.newPassword.error">
									<span data-ng-show="group.administrator.newPassword != group.administrator.rePassword" translate="content.errors.err4"></span>
								</div>
						    </div>
				            </div>  
				            <div class="modal-footer">  
				                <button type="submit" class="btn-sm btn-blue" data-ng-disabled="updatePwdForm.$invalid 
				                	|| group.administrator.newPassword != group.administrator.rePassword" translate="content.operations.ok"></button>  
				                <button type="button" class="btn-sm btn-white" data-dismiss="modal" data-ng-click="closePwd()" translate="content.operations.close"></button>  
				            </div>
			            </form>  
			        </div>  
			    </div> 
			</div> 

<div class="modal fade" id="alertModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" data-ng-bind="alert_title"></h4>
			</div>
			<div class="modal-body">
				<span data-ng-bind="alert_message"></span>
			</div>
            <div class="modal-footer"></div>
        </div>  
    </div> 
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" translate="content.groups.operations.delete"></h4>
			</div>
			<div class="modal-body">
				<span translate="content.groups.operations.delete"></span>
				<span style="margin: 10px 10px;color: red;" data-ng-bind="removing_group.name"></span>
				<span translate="content.modals.marks.mark1"></span>
			</div>
            <div class="modal-footer">
            	<button type="button" class="btn-sm btn-blue" data-ng-click="removeGroup(removing_group)" translate="content.operations.delete"></button>  
                <button type="button" class="btn-sm btn-white" data-dismiss="modal" translate="content.operations.cancel"></button>  
            </div>
        </div>  
    </div> 
</div>
<!-- 下发额度模态框 -->
<div class="modal fade" id="petchCredit" tabindex="-1">  
   	<div class="modal-dialog">  
       	<div class="modal-content">  
           	<div class="modal-header">    
               	<button type="button" class="close" data-dismiss="modal" data-ng-click="closeCredit()">  
                   ×  
               	</button>   
               	<h4 class="modal-title" id="myModalLabel">
					<span translate="content.credits.push"></span>				
				</h4>  
           </div>
           <form name="petchCreditForm" data-ng-submit="updateCredit(credit)">  
            	<div class="modal-body">
				    <div data-ng-if ="(loginUser.type<4)">
				        <label><span translate="content.credits.rest"></span></label>
				        <input type="text" class="text-class disabled-class" data-ng-model="credit.credit" name="credit"
							maxlength="20" readonly="readonly">
						<span translate="content.credits.point"></span>
				    </div>
				    <div data-ng-if ="(loginUser.type<4)">
				        <label><span translate="content.credits.push"></span></label>
				        <input type="text" class="text-class disabled-class" data-ng-model="credit.sub" name="sub" maxlength="20" >
			 			<span translate="content.credits.point"></span>
				    </div>
	            </div>  
	            <div class="modal-footer">  
	                <button type="submit" class="btn-sm btn-blue" translate="content.operations.push"></button>  
	                <button type="button" class="btn-sm btn-white" data-dismiss="modal" data-ng-click="closeCredit()"
	                	translate="content.operations.close"></button>  
	            </div>
           </form>  
       </div>  
   </div> 
</div>