<div class="search-div" data-ng-if="loginUser.type!=1 && loginUser.type<4">
	<form>
		<label ><span translate="content.credits.rest"></span></label>
		<input type="text" data-ng-model="account.credit" style="border-style: none;" readonly="readonly">		 		 
	</form>
</div>

<div class="content-div" data-ng-if="loginUser.type<4">
	<div class="table-div">
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.credits.return_list"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>
		<table>
			<thead>
				<tr >
					<th><span translate="content.no"></span></th>
					<th><span translate="content.credits.apply_group"></span></th>
					<th data-ng-if ="(pageInfo.type!=4)"><span translate="content.credits.apply_agent"></span></th>
					<th><span translate="content.agents.attach_agent"></span></th>
					<th><span translate="content.credits.apply_number"></span></th>
					<th><span translate="content.credits.apply_time"></span></th>
					<th><span translate="content.credits.order_status"></span></th>
					<th nowrap="nowrap"><span translate="content.operations.operation"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="credit in credits">
					<td data-ng-bind="$index+1+pageInfo.number*pageInfo.usize"></td>
					<td data-ng-if="(credit.group.name)">{{credit.group.name}}</td>
					<td data-ng-if="!(credit.group.name)">——</td>
					<td data-ng-if="(credit.agent.name) && (pageInfo.type!=4)">{{credit.agent.name}}</td>
					<td data-ng-if="!(credit.agent.name) && (pageInfo.type!=4)">——</td>
					<td data-ng-if="(credit.respondent.name)">{{credit.respondent.name}}</td>
					<td data-ng-if="!(credit.respondent.name)">{{credit.agent.name}}</td>
					<td>{{credit.credit}}</td>
					<td>{{credit.createdAt}}</td>
					<td data-ng-if="(credit.status == 'ACK')"><span >已上缴</span></td>
					<td data-ng-if="(credit.status == 'NO_ACK')"><span translate="content.credits.non_checked"></span></td>
					<td>
						<span>
							<a  class="btn btn-sm btn-blue"  data-ng-click="ackOrder(credit)"
								data-ng-if ="((loginUser.type==1) || (credit.respondent.id == defaultAgent.id)) && (credit.status == 'NO_ACK')" translate="menu.credits.back"></a>
						</span>						
					</td>
				</tr>
				<tr data-ng-if="pageInfo.totalElements<1 || !(pageInfo)">
					<td colspan="9" class="empty-td">
						<span translate="content.table.nodata"></span>
					</td>
				</tr>			
			</tbody>
		</table>
 	</div>
 	
 	<div align="right" class="pageInfo" >
		<form data-ng-submit="searchList(pageInfo.showPage-1,pageInfo,9)">
			<span class="span-lt"><span translate="content.operations.results"></span>{{pageInfo.totalElements}}</span>
			<span class="span-lt"><span translate="content.operations.pages"></span>{{pageInfo.totalPages}}</span>
			<span class="span-lt"><span translate="content.operations.size"></span>
				<select data-ng-model="pageInfo.size" data-ng-change="searchList(0, pageInfo,9)"
					data-ng-options="x for x in [10,20,50,100]">
				</select>
			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(0,pageInfo,9)" data-ng-if="!(pageInfo.number<0)"
   					class="btn-sm btn-white" translate="content.pageInfo.first"></button>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number-1,pageInfo,9)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number>0)" translate="content.pageInfo.prev" ></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number>0)"
					translate="content.pageInfo.prev" ></button>
   			</span>
   			<span class="pageInfo-number">
   				<a data-ng-click="searchList(0,pageInfo,9)" data-ng-if="(pageInfo.number>2)">1</a>
   				<a data-ng-click="searchList(1,pageInfo,9)" data-ng-if="(pageInfo.number>3)">2</a>
   				<a data-ng-if="(pageInfo.number>4)">......</a>
   				<a data-ng-click="searchList(pageInfo.number-2,pageInfo,9)"
   					data-ng-if="(pageInfo.number>1)">{{pageInfo.number-1}}</a>
   				<a data-ng-click="searchList(pageInfo.number-1,pageInfo,9)"
   					data-ng-if="(pageInfo.number>0)">{{pageInfo.number}}</a>
   				<a style="color: black;">{{pageInfo.number+1}}</a>
   				<a data-ng-click="searchList(pageInfo.number+1,pageInfo,9)"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)">{{pageInfo.number+2}}</a>
   				<a data-ng-click="searchList(pageInfo.number+2,pageInfo,9)"
   					data-ng-if="(pageInfo.number+2<pageInfo.totalPages)">{{pageInfo.number+3}}</a>
   				<a data-ng-if="(pageInfo.number+5<pageInfo.totalPages)">......</a>
   				<a data-ng-click="searchList(pageInfo.totalPages-2,pageInfo,9)"
  					data-ng-if="(pageInfo.number+3<pageInfo.totalPages) && (pageInfo.number+4!=pageInfo.totalPages)">
  					{{pageInfo.totalPages-1}}</a>
  				<a data-ng-click="searchList(pageInfo.totalPages-1,pageInfo,9)"
  					data-ng-if="(pageInfo.number+4<=pageInfo.totalPages)">{{pageInfo.totalPages}}</a>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number+1,pageInfo,9)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)" translate="content.pageInfo.next"></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number+1<pageInfo.totalPages)"
					translate="content.pageInfo.next"></button>
   			</span>
   			<span>
				<button type="button" data-ng-click="searchList(pageInfo.totalPages-1,pageInfo,9)" data-ng-if="!(pageInfo.number<0)"
					class="btn-sm btn-white" translate="content.pageInfo.last"></button>
			</span>
   			<span>
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="{{pageInfo.totalPages}}" required="required"
   						min="1" data-ng-if="(pageInfo.totalPages>0)" >
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="1" min="1" readonly="readonly"
   						data-ng-if="!(pageInfo.totalPages>0)" >
   				<input type="submit" class="btn-sm btn-blue btn-go" value="GO">
   			</span>
		</form>
	</div>
 	
</div>


<!-- 下发额度模态框 -->
<div class="modal fade" id="petchCredit" tabindex="-1">  
   	<div class="modal-dialog">  
       	<div class="modal-content">  
           	<div class="modal-header">    
               	<button type="button" class="close" data-dismiss="modal" data-ng-click="closeCredit()">  
                   ×  
               	</button>   
               	<h4 class="modal-title" id="myModalLabel">
					<span translate="content.credits.push"></span>				
				</h4>  
           </div>
           <form name="petchCreditForm" data-ng-submit="updateCredit(credit)">  
            	<div class="modal-body">
	               	<div>
				        <label><span translate="content.credits.apply_credit"></span></label>
						<input type="text" class="text-class disabled-class" data-ng-model="credit.remanentCredit"
							pattern="[+]{0,1}(\d+)" name="remanentCredit" maxlength="20" required="required" readonly="readonly"
							data-ng-blur="petchCreditForm.remanentCredit.checked=true"
							data-ng-focus="petchCreditForm.remanentCredit.checked=false">
						<span translate="content.credits.point"></span>
				    </div>
				    <div data-ng-if ="(loginUser.type!=1)">
				        <label><span translate="content.credits.rest"></span></label>
				        <input type="text" class="text-class disabled-class" data-ng-model="credit.credit" name="credit"
							maxlength="20"  style="padding-top: 1px;" readonly="readonly">
						<span translate="content.credits.point"></span>
				    </div>
				    <div data-ng-if ="(loginUser.type!=1)">
				        <label><span translate="content.credits.push"></span></label>
				        <input type="text" class="text-class disabled-class" data-ng-model="credit.sub" name="sub"
						 	maxlength="20"  style="padding-top: 1px;" readonly="readonly">
			 			<span translate="content.credits.point"></span>
				    </div>
	            </div>  
	            <div class="modal-footer">  
	                <button type="submit" class="btn-sm btn-blue" translate="content.operations.push"></button>  
	                <button type="button" class="btn-sm btn-white" data-dismiss="modal" data-ng-click="closeCredit()"
	                	translate="content.operations.close"></button>  
	            </div>
           </form>  
       </div>  
   </div> 
</div>

<div class="modal fade" id="alertModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" data-ng-bind="alert_title"></h4>
			</div>
			<div class="modal-body">
				<span data-ng-bind="alert_message" style="margin-left: 6em;"></span>
			</div>
            <div class="modal-footer"></div>
        </div>  
    </div> 
</div>
