<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--     <meta name="_csrf" th:content="${_csrf.token}"/> -->
<!--     <meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <base th:href="${#httpServletRequest.getContextPath() + '/'}"/>
    <title>重置密码</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet"/>
    <link href="stylesheets/flat-ui.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.min.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="login-form">
            <form th:action="@{/users/password}" method="post" class="form-sign">
                <legend>登录超级受理台</legend>
                <div class="form-group">
                    <label for="oldPassword" class="sr-only">旧密码：</label>
                    <input type="text" id="oldPassword" name="oldPassword" required="required"
                           class="form-control form-control-lg" placeholder="请输入旧密码"/>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="sr-only">新密码：</label>
                    <input type="password" id="newPassword" name="newPassword" required="required" class="form-control"
                           placeholder="请输入密码" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="repassword" class="sr-only">确认密码：</label>
                    <input type="password" id="repassword" name="repassword" required="required" class="form-control"
                           placeholder="请输入确认密码" autocomplete="off"/>
                </div>
                <div style="color: white;margin-top: 10px;" class="row">
                    <input type="submit" id="resetPassword" value="确定重置" class="btn btn-sm btn-info"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>