<div class="content-div">
	<div class="table-div">
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.teams.title"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>
		
		<table >
			<thead>
				<tr>
					<th width="20%" style="border-right: none;"><span translate="content.teams.form"></span></th>
					<th style="border-left: none;"></th>
				</tr>
			</thead>
		</table>
		<form name="teamForm" data-ng-submit="createOrUpdateTeam(team)">
			<div data-ng-if="(loginUser.type==1)">
				<label><span translate="content.agents.attach_agent"></span></label> 
				<select class="text-class" id="selectAgentOptions" data-ng-model="team.agent.id" data-ng-if="!(team.id)" required="required"
					data-ng-change="getGroups(team.agent.id)">
				</select>
				<span style="margin-left: 1px;" data-ng-if="!(team.id)"><font color="red">*</font></span>
				<input type="text" class="text-class disabled-class" data-ng-model="team.agent.name"
					data-ng-if="team.id" readonly="readonly">
			</div>
			<div data-ng-if="(loginUser.type==1)">
				<label><span translate="content.departments.attach_group"></span></label> 
				<select class="text-class" id="selectGroupOptions" data-ng-model="team.group.id" data-ng-if="!(team.id)"
					data-ng-options="group.id as group.name for group in groups" data-ng-change="getDepartments(team.group.id)" required="required">
					<option value="" translate="content.operations.selection"></option>
				</select>
				<span style="margin-left: 1px;" data-ng-if="!(team.id)"><font color="red">*</font></span>
				<input type="text" class="text-class disabled-class" data-ng-model="team.group.name"
					data-ng-if="team.id" readonly="readonly">
			</div>
			<div data-ng-if="(loginUser.type==1) || (loginUser.type==4)">
				<label><span translate="content.departments.attach_department"></span></label>
				<select class="text-class" data-ng-model="team.department.id" data-ng-options="dpt.id as dpt.name for dpt in dptsList | orderBy:['level','name']" data-ng-if="!(team.id)" required="required">
					<option value="" translate="content.operations.selection"></option>
				</select>
				<input type="text" class="text-class disabled-class" data-ng-model="team.department.name"
					data-ng-if="team.id" readonly="readonly"/>
			</div>
			<div data-ng-if="!(team.id)">
				<label><span translate="content.teams.name"></span></label>
				<input type="text" class="text-class" data-ng-model="team.name" pattern="^[\u4e00-\u9fa5a-zA-Z0-9]+$"  name="name"
					 maxlength="16" title="不超过16位的数字、字母、汉字的组合!" required="required"/>
				<span style="color: #ff3138" data-ng-show="teamForm.name.$invalid">
					<span data-ng-show="teamForm.name.$error.required"><font color="red">*</font></span>
					<span data-ng-show="teamForm.name.$error.pattern" data-translate="content.errors.err5"></span>
				</span>	
				<input type="hidden" class="text-class" data-ng-model="group.id" id="gId"/>
				<input type="hidden" class="text-class" data-ng-model="departmentid" id="dId"/>
			</div>
			<div data-ng-if="(team.id)">
				<label><span translate="content.teams.name"></span></label>
				<input type="text" class="text-class" data-ng-model="team.name" pattern="^[\u4e00-\u9fa5a-zA-Z0-9#]+$"  name="name"
					 maxlength="16" title="不超过16位的数字、字母、汉字的组合!" required="required"/>
				<span style="color: #ff3138" data-ng-show="teamForm.name.$invalid">
					<span data-ng-show="teamForm.name.$error.required"><font color="red">*</font></span>
					<span data-ng-show="teamForm.name.$error.pattern" data-translate="content.errors.err5"></span>
				</span>	
				<input type="hidden" class="text-class" data-ng-model="group.id" id="gId"/>
				<input type="hidden" class="text-class" data-ng-model="departmentid" id="dId"/>
			</div>
			<div data-ng-if="(team.id)">
				<label><span translate="content.teams.priority"></span></label>
				<input type="number" data-ng-model="team.priority" name="priority" max="10" min="1" step="1" class="text-class" required="required"/>
				<span style="color: #ff3138" data-ng-show="teamForm.priority.$invalid">
					<span data-ng-show="teamForm.priority.$error.required"><font color="red">*</font></span>
				</span>
			</div>
			<div data-ng-if="!(team.id)">
				<label><span translate="content.departments.attach_department"></span></label>
				<select class="text-class" data-ng-model="team.departmentId" data-ng-options="dpt.id as dpt.name for dpt in dptsList | orderBy:['level','name']" data-ng-if="!(team.id)">
					<option value="" translate="content.operations.selection"></option>
				</select>
				<input type="text" id="groupid" class="text-class" data-ng-model="group.id" readonly="readonly"
					style="display: none;">
			</div>
			<div data-ng-if="!(team.id)">
				<label><span translate="content.teams.account"></span></label> 
				<input type="text" class="text-class" data-ng-model="team.searchName" maxlength="100"/>
				<div class="btn-group btn-teams">
					<button id="departmentSelect" type="button" class="btn-sm btn-blue" data-ng-click="searchUsers(team)"
						translate="content.operations.search"></button>
					<button id="departmentAddAll" type="button" class="btn-sm btn-blue" data-ng-click="addAll()"
						translate="content.operations.all"></button>
					<button id="departmentAdd" type="button" class="btn-sm btn-blue" data-ng-click="addSelected()"
						translate="content.operations.add"></button>
					<button id="departmentRemove" type="button" class="btn-sm btn-blue" data-ng-click="removeSelected()"
						translate="content.operations.remove"></button>
					<button id="departmentRemoveAll" type="button" class="btn-sm btn-blue" data-ng-click="removeAll()"
						translate="content.operations.clear"></button>
				</div>					
			</div>
			<div>
				<label style="vertical-align:top" translate="content.teams.member"></label>
				<select class="text-class" id="unselected" multiple="multiple" size="8" style="min-height: 15em">
					<option disabled="disabled" translate="content.teams.all"></option>
					<option data-ng-repeat="user in users  | unique: 'id'" data-ng-value="user.id">{{user.show}}</option>
				</select>
				<select class="text-class" id="selected" multiple="multiple" size="8" style="min-height: 15em">
					<option disabled="disabled" translate="content.teams.selected"></option>
					<option data-ng-repeat="user in teamUsers | unique: 'id'" data-ng-value="user.id">{{user.show}}</option>
				</select>
			</div>
			<div style="margin-top: 12.5em">
				<label style="vertical-align:top" translate="content.teams.description"></label>
				<textarea style="resize: none; height: 100px;" class="text-class" data-ng-model="team.description"
					maxlength="255" > </textarea>
			</div>
			<div style="margin-top: 5em">
				<label></label>
				<button type="submit" class="btn-sm btn-blue" translate="content.operations.submit"></button>
				<button type="reset" class="btn-sm btn-white" data-ng-click="resetCreateTeam()" data-ng-if="!(team.id)"
					translate="content.operations.reset"></button>
<!-- 				<button id="departmentReset" type="button" class="btn-sm btn-white" data-ng-if="team.id" -->
<!-- 					data-ng-click="resetTeam()" translate="content.operations.reset"></button> -->
				<a class="btn btn-sm btn-white" data-ng-if="team.id" translate="content.operations.return"
				 	data-ng-click="backList()" href="javascript:history.go(-1);" style="width: 66px;margin-left: 100px;"></a>
			</div>
		</form>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" data-ng-bind="alert_title"></h4>
			</div>
			<div class="modal-body">
				<span data-ng-bind="alert_message"></span>
			</div>
      		<div class="modal-footer"></div>
		</div>  
	</div>
</div>
