<div class="search-div">
	<form>
		<div class="row">
			<div class="col-sm-4" data-ng-if="(loginUser.type==1)" style="width:26%">
				<label ><span translate="content.agents.attach_agent"></span></label> 
				<select class="text-class" id="selectAgentOptions" data-ng-model="agentId"
					data-ng-change="getGroups(agentId)" data-ng-if="(loginUser.type==1)"style="width:60%"></select>
			</div>
			<div class="col-sm-4" data-ng-if="(loginUser.type==1)" style="width:26%">
				<label ><span translate="content.departments.attach_group"></span></label> 
				<select class="text-class" id="selectGroupOptions" data-ng-model="group.id"
					data-ng-options="group.id as group.name for group in groups" style="width:60%">
					<option value="" translate="content.operations.selection"></option>
				</select>
			</div>
			<input type="text" class="text-class disabled-class" data-ng-if="(loginUser.type!=1)"
				id="selectGroupOptions" data-ng-model="group.id" disabled="disabled" style="display: none;">
			<div class="col-sm-4" data-ng-if="(loginUser.type==1)" style="width:26%">
				<label><span translate="content.teams.name"></span></label>
				<input id="tName" type="text" class="text-class" data-ng-model="name" style="width:60%">			 		 
			</div>
			<div class="col-sm-4" data-ng-if="(loginUser.type==1)" style="width:21%">
				<button class="btn-sm btn-blue" data-ng-click="searchTeamsList(pageInfo,null,name)"
					translate="content.operations.search"></button>
				<button class="btn-sm btn-blue" data-ng-click="searchAllTeams(pageInfo)"
					translate="content.operations.showAll"></button>
			</div>
			<div data-ng-if="(loginUser.type!=1)" style="display: inline;margin-left: 2%;">
				<label><span translate="content.teams.name"></span></label>
			</div>
			<div data-ng-if="(loginUser.type!=1)" style="display: inline;">
				<input id="tName" type="text" class="text-class" data-ng-model="name">			 		 
			</div>
			<div data-ng-if="(loginUser.type!=1)" style="display: inline;">
				<button class="btn-sm btn-blue" data-ng-click="searchTeamsList(pageInfo,null,name)"
					translate="content.operations.search"></button>
				<button class="btn-sm btn-blue" data-ng-click="searchAllTeams(pageInfo)"
					translate="content.operations.showAll"></button>
			</div>
		</div>
	</form>
</div>
<div class="content-div">
	<div class="table-div">
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.teams.list"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>			
		<table>
			<thead>
				<tr>
					<td nowrap="nowrap"><span translate="content.teams.no"></span></td>
					<td nowrap="nowrap"><span translate="content.teams.name"></span></td>
					<td nowrap="nowrap"><span translate="content.agents.attach_agent"></span></td>
					<td nowrap="nowrap"><span translate="content.departments.attach_group"></span></td>
					<td nowrap="nowrap"><span translate="content.departments.attach_department"></span></td>
					<td nowrap="nowrap"><span translate="content.teams.type"></span></td>
					<td nowrap="nowrap"><span translate="content.teams.number"></span></td>
					<td nowrap="nowrap"><span translate="content.teams.description"></span></td>
					<td nowrap="nowrap"><span translate="content.teams.priority"></span></td>
					<td nowrap="nowrap"><span translate="content.operations.operation"></span></td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="team in teams">
					<td data-ng-bind="$index+1+pageInfo.number*pageInfo.usize"></td>
					<td><span>{{team.name}}</span></td>
					<td><span>{{team.agent.name}}</span></td>
					<td><span>{{team.group.name}}</span></td>
					<td>
						<span data-ng-if="(team.department.name)">{{team.department.name}}</span>
						<span data-ng-if="!(team.department.name)">——</span>
					</td>
					<td>
						<span data-ng-if="(team.type==0)" translate="content.teams.defaultTeam"></span>
						<span data-ng-if="(team.type==1)" translate="content.teams.departmentTeam"></span>
						<span data-ng-if="(team.type==2)" translate="content.teams.preTeam"></span>
					</td>
					<td><span>{{team.userCount}}</span></td>
					<td><span>{{team.description}}</span></td>
					<td><span>{{team.priority}}</span></td>
					<td>
						<a data-ui-sref="teams.dispatch({id:team.id})" data-ng-click="setTeamName(team)"
							class="btn btn-sm btn-blue" translate="content.teams.dispatch"></a>
<!-- 							<span><a>设置监听组</a></span> -->
<!-- 							<span><a>设置默认组</a></span> -->
						<a data-ui-sref="teams.update({id:team.id})" class="btn btn-sm btn-blue" translate="content.operations.modify"></a>
						<a data-toggle="modal" data-target="#deleteModal" data-ng-click="deleteModal(team)" data-ng-if="team.type != 0"
							class="btn btn-sm btn-blue" translate="content.operations.delete"></a>
					</td>
				</tr>
				<tr data-ng-if="pageInfo.totalElements<1">
					<td colspan="10" class="empty-td">
   						<span translate="content.table.nodata"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
  	<div align="right" class="pageInfo" >
		<form data-ng-submit="searchList(pageInfo.showPage-1,pageInfo)">
			<span class="span-lt"><span translate="content.operations.results"></span>{{pageInfo.totalElements}}</span>
			<span class="span-lt"><span translate="content.operations.pages"></span>{{pageInfo.totalPages}}</span>
			<span class="span-lt"><span translate="content.operations.size"></span>
				<select data-ng-model="pageInfo.size" data-ng-change="searchList(0, pageInfo)"
						data-ng-options="x for x in [10,20,50,100]">
				</select>
			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(0,pageInfo)" data-ng-if="!(pageInfo.number<0)"
   					class="btn-sm btn-white" translate="content.pageInfo.first"></button>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number-1,pageInfo)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number>0)" translate="content.pageInfo.prev" ></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number>0)"
					translate="content.pageInfo.prev" ></button>
   			</span>
   			<span class="pageInfo-number">
   				<a data-ng-click="searchList(0,pageInfo)" data-ng-if="(pageInfo.number>2)">1</a>
   				<a data-ng-click="searchList(1,pageInfo)" data-ng-if="(pageInfo.number>3)">2</a>
   				<a data-ng-if="(pageInfo.number>4)">......</a>
   				<a data-ng-click="searchList(pageInfo.number-2,pageInfo)"
   					data-ng-if="(pageInfo.number>1)">{{pageInfo.number-1}}</a>
   				<a data-ng-click="searchList(pageInfo.number-1,pageInfo)"
   					data-ng-if="(pageInfo.number>0)">{{pageInfo.number}}</a>
   				<a style="color: black;">{{pageInfo.number+1}}</a>
   				<a data-ng-click="searchList(pageInfo.number+1,pageInfo)"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)">{{pageInfo.number+2}}</a>
   				<a data-ng-click="searchList(pageInfo.number+2,pageInfo)"
   					data-ng-if="(pageInfo.number+2<pageInfo.totalPages)">{{pageInfo.number+3}}</a>
   				<a data-ng-if="(pageInfo.number+5<pageInfo.totalPages)">......</a>
   				<a data-ng-click="searchList(pageInfo.totalPages-2,pageInfo)"
  					data-ng-if="(pageInfo.number+3<pageInfo.totalPages) && (pageInfo.number+4!=pageInfo.totalPages)">
  					{{pageInfo.totalPages-1}}</a>
  				<a data-ng-click="searchList(pageInfo.totalPages-1,pageInfo)"
  					data-ng-if="(pageInfo.number+4<=pageInfo.totalPages)">{{pageInfo.totalPages}}</a>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number+1,pageInfo)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)" translate="content.pageInfo.next"></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number+1<pageInfo.totalPages)"
					translate="content.pageInfo.next"></button>
   			</span>
   			<span>
				<button type="button" data-ng-click="searchList(pageInfo.totalPages-1,pageInfo)" data-ng-if="!(pageInfo.number<0)"
					class="btn-sm btn-white" translate="content.pageInfo.last"></button>
			</span>
   			<span>
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="{{pageInfo.totalPages}}" required="required"
   						min="1" data-ng-if="(pageInfo.totalPages>0)" >
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="1" min="1" readonly="readonly"
   						data-ng-if="!(pageInfo.totalPages>0)" >
   				<input type="submit" class="btn-sm btn-blue btn-go" value="GO">
   			</span>
		</form>
	</div>
  		
   	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title" data-ng-bind="alert_title"></h4>
				</div>
				<div class="modal-body">
					<span data-ng-bind="alert_message" style="margin-left: 6em;"></span>
				</div>
	            <div class="modal-footer"></div>
	        </div>  
	    </div> 
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">
						<span translate="content.teams.operations.delete"></span>
					</h4>
				</div>
				<div class="modal-body">
					<span translate="content.teams.operations.delete"></span>
					<span style="margin: 10px 10px;color: red;" data-ng-bind="removing_team.name"></span>
					<span translate="content.modals.marks.mark1"></span>
				</div>
	            <div class="modal-footer">
	            	<button type="button" class="btn-sm btn-blue" data-ng-click="removeTeam(removing_team)"
	            		translate="content.operations.ok"></button>  
	                <button type="button"class="btn-sm btn-white" data-dismiss="modal" translate="content.operations.cancel"></button>  
	            </div>
	        </div>  
	    </div> 
	</div>
</div>
