<div class="search-div" style="text-align: right;margin: 20px 2% 20px;">
	<a class="btn btns-m btn-blue" data-ui-sref="servers.create"
		translate="content.servers.create" style="width: 100px;"></a>
</div>

<div class="content-div">
	<div class="table-div">
		<table >
			<thead>
				<tr>
					<th width="20%" class="tb-title"><span translate="content.servers.list"></span></th>
					<th ></th>
				</tr>
			</thead>
		</table>			
		<table>
			<thead>
				<tr>
					<td nowrap="nowrap"><span translate="content.no"></span></td>
					<td nowrap="nowrap"><span translate="content.servers.name"></span></td>
					<td nowrap="nowrap"><span translate="content.servers.status"></span></td>
					<td nowrap="nowrap"><span translate="content.servers.ipAddress"></span></td>
					<td nowrap="nowrap"><span translate="content.servers.max"></span></td>
					<td nowrap="nowrap"><span translate="content.servers.rest"></span></td>
					<td nowrap="nowrap"><span translate="content.operations.operation"></span></td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="server in serversList" >
					<td data-ng-bind="$index+1+pageInfo.number*pageInfo.size" data-ng-if="server.remanentCapacity>0"></td>
					<td data-ng-bind="$index+1+pageInfo.number*pageInfo.size" data-ng-if="!(server.remanentCapacity>0)"
						style="background-color: #fcf8e3;"></td>
					<td data-ng-if="server.remanentCapacity>0"><span>{{server.name}}</span></td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;"><span>{{server.name}}</span></td>
					<td data-ng-if="server.remanentCapacity>0">
						<span data-ng-if="server.status==0 || !(server.status)" translate="content.servers.status1"></span>
						<span data-ng-if="server.status==1" translate="content.servers.status0"></span>
					</td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;">
						<span data-ng-if="server.status==0 || !(server.status)" translate="content.servers.status1"></span>
						<span data-ng-if="server.status==1" translate="content.servers.status0"></span>
					</td>
					<td data-ng-if="server.remanentCapacity>0">
						<span>{{server.ipAddress}}</span>
						<span data-ng-if="server.ipAddress && server.domain">/</span>
						<span>{{server.domain}}</span>
					</td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;">
						<span>{{server.ipAddress}}</span>
						<span data-ng-if="server.ipAddress && server.domain">/</span>
						<span>{{server.domain}}</span>
					</td>
					<td data-ng-if="server.remanentCapacity>0"><span>{{server.maxCapacity}}</span></td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;">
						<span>{{server.maxCapacity}}</span>
					</td>
					<td data-ng-if="server.remanentCapacity>0"><span>{{server.remanentCapacity}}</span></td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;">
						<span>{{server.remanentCapacity}}</span>
					</td>
					<td data-ng-if="server.remanentCapacity>0">
						<a data-toggle="modal" data-target="#deleteModal" data-ng-click="deleteModal(server)"
							class="btn btn-sm btn-blue" translate="content.operations.delete"></a>
						<a data-ui-sref="servers.update({id:server.id})" class="btn btn-sm btn-blue" translate="content.operations.modify"></a>
					</td>
					<td data-ng-if="!(server.remanentCapacity>0)" style="background-color: #fcf8e3;">
						<a data-toggle="modal" data-target="#deleteModal" data-ng-click="deleteModal(server)"
							class="btn btn-sm btn-blue" translate="content.operations.delete"></a>
						<a data-ui-sref="servers.update({id:server.id})" class="btn btn-sm btn-blue" translate="content.operations.modify"></a>
					</td>
				</tr>
				<tr data-ng-if="!(pageInfo) || pageInfo.totalElements<1">
					<td colspan="7" class="empty-td">
   						<span translate="content.table.nodata"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
  	<div align="right" class="pageInfo" >
		<form data-ng-submit="searchList(pageInfo.showPage-1,pageInfo)">
			<span class="span-lt"><span translate="content.operations.results"></span>{{pageInfo.totalElements}}</span>
			<span class="span-lt"><span translate="content.operations.pages"></span>{{pageInfo.totalPages}}</span>
			<span class="span-lt"><span translate="content.operations.size"></span>
				<select data-ng-model="pageInfo.size" data-ng-change="searchList(0, pageInfo)"
						data-ng-options="x for x in [10,20,50,100]">
				</select>
			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(0,pageInfo)" data-ng-if="!(pageInfo.number<0)"
   					class="btn-sm btn-white" translate="content.pageInfo.first"></button>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number-1,pageInfo)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number>0)" translate="content.pageInfo.prev" ></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number>0)"
					translate="content.pageInfo.prev" ></button>
   			</span>
   			<span class="pageInfo-number">
   				<a data-ng-click="searchList(0,pageInfo)" data-ng-if="(pageInfo.number>2)">1</a>
   				<a data-ng-click="searchList(1,pageInfo)" data-ng-if="(pageInfo.number>3)">2</a>
   				<a data-ng-if="(pageInfo.number>4)">......</a>
   				<a data-ng-click="searchList(pageInfo.number-2,pageInfo)"
   					data-ng-if="(pageInfo.number>1)">{{pageInfo.number-1}}</a>
   				<a data-ng-click="searchList(pageInfo.number-1,pageInfo)"
   					data-ng-if="(pageInfo.number>0)">{{pageInfo.number}}</a>
   				<a style="color: black;">{{pageInfo.number+1}}</a>
   				<a data-ng-click="searchList(pageInfo.number+1,pageInfo)"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)">{{pageInfo.number+2}}</a>
   				<a data-ng-click="searchList(pageInfo.number+2,pageInfo)"
   					data-ng-if="(pageInfo.number+2<pageInfo.totalPages)">{{pageInfo.number+3}}</a>
   				<a data-ng-if="(pageInfo.number+5<pageInfo.totalPages)">......</a>
   				<a data-ng-click="searchList(pageInfo.totalPages-2,pageInfo)"
  					data-ng-if="(pageInfo.number+3<pageInfo.totalPages) && (pageInfo.number+4!=pageInfo.totalPages)">
  					{{pageInfo.totalPages-1}}</a>
  				<a data-ng-click="searchList(pageInfo.totalPages-1,pageInfo)"
  					data-ng-if="(pageInfo.number+4<=pageInfo.totalPages)">{{pageInfo.totalPages}}</a>
   			</span>
   			<span>
   				<button type="button" data-ng-click="searchList(pageInfo.number+1,pageInfo)" class="btn-sm btn-blue"
   					data-ng-if="(pageInfo.number+1<pageInfo.totalPages)" translate="content.pageInfo.next"></button>
				<button type="button" class="btn-sm btn-blue btn-disabled" data-ng-if="!(pageInfo.number+1<pageInfo.totalPages)"
					translate="content.pageInfo.next"></button>
   			</span>
   			<span>
				<button type="button" data-ng-click="searchList(pageInfo.totalPages-1,pageInfo)" data-ng-if="!(pageInfo.number<0)"
					class="btn-sm btn-white" translate="content.pageInfo.last"></button>
			</span>
   			<span>
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="{{pageInfo.totalPages}}" required="required"
   						min="1" data-ng-if="(pageInfo.totalPages>0)" >
   				<input type="number" step="1" data-ng-model="pageInfo.showPage" max="1" min="1" readonly="readonly"
   						data-ng-if="!(pageInfo.totalPages>0)" >
   				<input type="submit" class="btn-sm btn-blue btn-go" value="GO">
   			</span>
		</form>
	</div>
  		
   	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title" data-ng-bind="alert_title"></h4>
				</div>
				<div class="modal-body">
					<span data-ng-bind="alert_message" style="margin-left: 6em;"></span>
				</div>
	            <div class="modal-footer"></div>
	        </div>  
	    </div> 
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">
						<span translate="content.servers.operations.delete"></span>
					</h4>
				</div>
				<div class="modal-body">
					<span translate="content.servers.operations.delete"></span>
					<span style="margin: 10px 10px;color: red;" data-ng-bind="removing_server.name"></span>
					<span translate="content.modals.marks.mark1"></span>
				</div>
	            <div class="modal-footer">
	            	<button type="button" class="btn-sm btn-blue" data-ng-click="removeServer(removing_server)"
	            		translate="content.operations.ok"></button>  
	                <button type="button"class="btn-sm btn-white" data-dismiss="modal" translate="content.operations.cancel"></button>  
	            </div>
	        </div>  
	    </div> 
	</div>
</div>
